<div class="container-fluid" style="height:95vh">
  <div class="row content" style="height: 100%">
    <div class="col-sm-8" style="height: 100%">
      <h1>Paint</h1>
      <div style="width: 700px; height: 650px">
        <button type="button" class="btn btn-default" ng-class="buttons['triangle']==='white' ? 'bgwhite' : 'bggrey'" id="triangle" ng-click="selectButton($event)">
          <span class="glyphicon glyphicon-triangle-top"></span>
        </button>
        <button type="button" class="btn btn-default" ng-class="buttons['circle']==='white' ? 'bgwhite' : 'bggrey'" id="circle" ng-click="selectButton($event)">
          <span class="glyphicon glyphicon-adjust"></span>
        </button>
        <button type="button" class="btn btn-default" ng-class="buttons['rectangle']==='white' ? 'bgwhite' : 'bggrey'" id="rectangle" ng-click="selectButton($event)">
          <span class="glyphicon glyphicon-minus"></span>
        </button>
        <button type="button" class="btn btn-default" ng-class="buttons['square']==='white' ? 'bgwhite' : 'bggrey'" id="square" ng-click="selectButton($event)">
          <span class="glyphicon glyphicon-stop"></span>
        </button>
        <button type="button" class="btn btn-default" ng-class="buttons['pencil']==='white' ? 'bgwhite' : 'bggrey'" id="pencil" ng-click="selectButton($event)">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
        <button type="button" class="btn btn-default" ng-class="buttons['resizecircle']==='white' ? 'bgwhite' : 'bggrey'" id="resizecircle" ng-click="selectButton($event)">
          <span class="glyphicon glyphicon-plus-sign"></span>
        </button>
        <button type="button" class="btn btn-default" ng-class="buttons['move']==='white' ? 'bgwhite' : 'bggrey'" id="move" ng-click="moveButton($event)">
          <span class="glyphicon glyphicon-move"></span>
        </button>
        <button type="button" class="btn btn-default btn-color margin white" ng-class="colorButtons['white']==='off' ? 'border-off' : 'border-on'" id="white" ng-click="colorButton($event)"></button>
        <button type="button" class="btn btn-default btn-color red" id="red" ng-class="colorButtons['red']==='off' ? 'border-off' : 'border-on'" ng-click="colorButton($event)"></button>
        <button type="button" class="btn btn-default btn-color yellow" ng-class="colorButtons['yellow']==='off' ? 'border-off' : 'border-on'" id="yellow" ng-click="colorButton($event)"></button>
        <button type="button" class="btn btn-default btn-color green" ng-class="colorButtons['green']==='off' ? 'border-off' : 'border-on'" id="green" ng-click="colorButton($event)"></button>
        <button type="button" class="btn btn-default btn-color blue" ng-class="colorButtons['blue']==='off' ? 'border-off' : 'border-on'" id="blue" ng-click="colorButton($event)"></button>
        <button type="button" class="btn btn-default btn-color black" ng-class="colorButtons['black']==='off' ? 'border-off' : 'border-on'" id="black" ng-click="colorButton($event)"></button>
        <button type="button" class="btn btn-default pull-right" id="delete" ng--click="delete()">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
        <div custom-canvas mouse-pos="mousePos($event)"></div>
      </div>
    </div>
  </div>
</div>