.shapeContainer {
  width: 700px;
  height: 650px;
  border: 1px solid grey;
  display: block;
  margin-top: 10px;
}
.glyphicon.glyphicon-circle {
  margin-bottom: -0.8em;
  overflow: hidden;
}
.glyphicon.glyphicon-circle:before {
  content: "\25cf";
  font-size: 1.8em;
}
