.shapeContainer {
  width: 700px;
  height: 650px;
  border: 1px solid grey;
  display: block;
  margin-top: 10px;
}
.btn.bgwhite {
  background-color: white;
}
.btn.bggrey {
  background-color: grey;
}
.bordered {
  width: 700px;
  height: 650px;
  border: 1px solid grey;
  display: block;
  margin-top: 10px;
}
.legend {
  width: 70px;
  height: 650px;
}
.margin {
  margin-left: 30px;
}
.btn-color {
  width: 20px;
  height: 20px;
}
.btn-color.white {
  background: white;
}
.btn-color.red {
  background: red;
}
.btn-color.yellow {
  background: yellow;
}
.btn-color.green {
  background: green;
}
.btn-color.blue {
  background: blue;
}
.btn-color.black {
  background: black;
}
.btn-color.border-on {
  border: 2px solid black;
}
.btn-color.border-off {
  border: 1px solid #ccc;
}
